@page "/flights"
@using FlightReservation.Data
<div class="container">

    <div class="flight">
        <h3>Flights</h3>
        <p>@airports[0]</p>
    </div>

    <div class="reserve">
        <h3>Reserve</h3>
        <form>
            <div class="form-group">
                <label for="flight">Flight:</label>
                <input type="text" id="flight" name="flight" />
            </div>

            <div class="form-group">
                <label for="airline">Airline:</label>
                <input type="text" id="airline" name="airline" />
            </div>

            <div class="form-group">
                <label for="day">Day:</label>
                <input type="text" id="day" name="day" />
            </div>

            <div class="form-group">
                <label for="time">Time:</label>
                <input type="text" id="time" name="time" />
            </div>

            <div class="form-group">
                <label for="cost">Cost:</label>
                <input type="text" id="cost" name="cost" />
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" />
            </div>

            <div class="form-group">
                <label for="citizenship">Citizenship:</label>
                <input type="text" id="citizenship" name="citizenship" />
            </div>

            <button type="submit">Reserve</button>
        </form>
    </div>

    <div class="flight-finder">
        <form>
            <label>
                From:
                <select>
                    @foreach (string item in airports)
                    {
                        <option value="@item"></option>
                    }
                </select>
            </label>

            <label>
                To:
                <select>
                    <option>YYC</option>
                </select>
            </label>

            <label>
                Day:
                <select>
                    <option>Any</option>
                </select>
            </label>
            <button type="submit">Find flights</button>
        </form>
    </div>



</div>

@if (flights == null)
{
    
} else
{
    <div>
        <table class="flight-table">
            <thead>
                <tr>
                    <th>Flight</th>
                    <th>Airline</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Flight flight in flights)
                {
                    <tr id=@flight.FlightNumber>  <!-- add unique id to each row, will be used for flight reservation later -->
                        <td>@flight.FlightNumber</td>
                        <td>@flight.Airline</td>
                        <td>@flight.Day</td>
                        <td>@flight.Time</td>
                        <td>@flight.Origin</td>
                        <td>@flight.Destination</td>
                        <td>@flight.Cost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    FlightManager fm = new FlightManager();
    List<string> airports = FlightManager.GetAirports();  //retrieve list of airports
    List<Flight> flights = FlightManager.FlightFinder(null, null, "Thursday");  //retrieve list of flights that user searched for. temprorarily null
}
