@page "/flights"
@using FlightReservation.Data
<div class="containerr">  <!--temp css class,other one breaks when in full screen idk why-->
    <div class="flightt">
        <h2>DAILY FLIGHTS</h2>
        <table class="flight-table">
            <tbody>
                @foreach (Flight flight in randomFlights)
                {
                    <tr id=@flight.FlightNumber>
                        <!-- add unique id to each row, will be used for flight reservation later -->
                        <td>@flight.FlightNumber</td>
                        <td>@flight.Airline</td>
                        <td>@flight.Origin</td>
                        <td>@flight.Destination</td>
                        <td>@flight.Time</td>
                        <td>$@flight.Cost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <EditForm Model="fm" OnValidSubmit="@DisplayFlights">
        <div class="flight-finder">
            <label>
                Origin
                <select @onchange="getOrigin" class="form-select">
                    @foreach (string airport in airports)
                    {
                        <option value="@airport">@airport</option>
                    }
                </select>
            </label>
        </div>

        <div class="flight-finder">
            <label>
                Destination
                <select @onchange="getDestination" class="form-select">
                    @foreach (string airport in airports)
                    {
                        <option value="@airport">@airport</option>
                    }
                </select>
            </label>
        </div>

        <div class="flight-finder">
            <label>
                Day
                <select class="form-select">
                    <option>Any</option>
                </select>
            </label>
        </div>
        <button type="submit" class="search-submit">Find Flights</button>
    </EditForm>

</div>


@if (flights == null)
{
} else
{
    <div class="flight-container">
        <table class="flight-table">
            <thead>
                <tr>
                    <th>Flight</th>
                    <th>Airline</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Flight flight in flights)
                {
                    <tr id=@flight.FlightNumber>  <!-- add unique id to each row, will be used for flight reservation later -->
                        <td>@flight.FlightNumber</td>
                        <td>@flight.Airline</td>
                        <td>@flight.Day</td>
                        <td>@flight.Time</td>
                        <td>@flight.Origin</td>
                        <td>@flight.Destination</td>
                        <td>@flight.Cost</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    string origin;
    string destination;
    string day;
    FlightManager fm = new FlightManager();
    List<Flight> randomFlights = FlightManager.DailyFlights(); //displays 5 random flights
    List<string> airports = FlightManager.GetAirports();  //retrieve list of airports
                                                          //List<Flight> flights = FlightManager.FlightFinder(null, null, null);  //retrieve list of flights that user searched for. temprorarily null
    List<Flight> flights = null;
    void getOrigin(ChangeEventArgs e)
    {
        origin = e.Value.ToString();
    }
    void getDestination(ChangeEventArgs e)
    {
        destination = e.Value.ToString();
    }

    void DisplayFlights()
    {
        flights = FlightManager.FlightFinder(origin, destination, day);
    }

}
